- wrap_layout :layout do
  .row
    %article.content.columns.large-8
      %h1= current_page.data.title
      %h6.subheader
        Posted on
        %time= current_page.date.strftime('%b %e %Y')
      .separator
        .line.line-1
      = yield
      .separator
        .line.line-1
      = disqus
    %aside.nav.columns.large-4
      = partial 'blog_nav'
  =partial 'footer'
