---
title: tags
pageable: true
layout: layouts/blog_summary
---

%h3
  Articles tagged '#{tagname}'
%ul
  - page_articles.each_with_index do |article, i|
    %li
      = link_to article.title, article
      %span= article.date.strftime('%b %e')

- if paginate
  %hr
  .pagination-centered
    %ul.pagination
      - if prev_page
        %li.arrow
          = link_to '«', prev_page
      %li
        Page #{page_number} of #{num_pages}
      - if next_page
        %li.arrow
          = link_to '»', next_page
